# Group Assignment 4


### Group 28 Members:
#### Alison Chow
#### Colby Collins
#### Nicholas Lacey
#### George Massie
---

In [0]:
import sqlite3 
connectionToDatabase = sqlite3.connect('DriversFuelHabits') 

cursor = connectionToDatabase.cursor()
cursor.execute('''drop table IF EXISTS Owners''')
connectionToDatabase.commit()

cursor.execute('''create table Owners (DLNumber text PRIMARY KEY, FName text, LName text, Age int)''')
connectionToDatabase.commit()

cursor = connectionToDatabase.cursor()
cursor.execute('''drop table IF EXISTS TravelInformation''')
connectionToDatabase.commit()

cursor.execute('''create table TravelInformation (TravelTicket text PRIMARY KEY, WeekNumber text, DLNumber text, MilesDriven int, DrivingSetting text)''')
connectionToDatabase.commit()

cursor.execute('''drop table IF EXISTS Vehicles''')
connectionToDatabase.commit()

cursor.execute('''create table Vehicles (VINNumber text PRIMARY KEY, GasType text, DLNumber text, VehYear int, VehMake text, VehModel text, FuelEfficiency int, HybridStatus text)''')
connectionToDatabase.commit()

cursor = connectionToDatabase.cursor()
cursor.execute('''drop table IF EXISTS GasStations''')
connectionToDatabase.commit()

cursor.execute('''create table GasStations (StationName text PRIMARY KEY, StationNumber int, GasType text, StorageCapacity int, Price float)''')
connectionToDatabase.commit()

In [0]:
cursor.execute('''insert into Owners values ('33296145', 'Jacob', 'Shank', '27' );''')
connectionToDatabase.commit()
cursor.execute('''insert into Owners values ('59644871', 'Adam', 'Party', '20' );''')
connectionToDatabase.commit()
cursor.execute('''insert into Owners values ('35888695', 'Mary', 'Lamb', '32' );''')
connectionToDatabase.commit()
cursor.execute('''insert into Owners values ('11487324', 'Cornell', 'McClain', '22' );''')
connectionToDatabase.commit()
cursor.execute('''insert into Owners values ('86524701', 'Amanda', 'Hoodlum', '45' );''')
connectionToDatabase.commit()

In [0]:
cursor.execute('''insert into TravelInformation values ('01', '1', '33296145', '207', 'highway'  );''')
connectionToDatabase.commit()
cursor.execute('''insert into TravelInformation values ('02', '1', '59644871', '56', 'city'  );''')
connectionToDatabase.commit()
cursor.execute('''insert into TravelInformation values ('03', '1', '35888695', '107', 'city'  );''')
connectionToDatabase.commit()
cursor.execute('''insert into TravelInformation values ('04', '1', '11487324', '384', 'highway'  );''')
connectionToDatabase.commit()
cursor.execute('''insert into TravelInformation values ('05', '1', '86524701', '144', 'city'  );''')
connectionToDatabase.commit()

In [0]:
cursor.execute('''insert into Vehicles values ('2596358', 'regular', '33296145', '2007', 'Toyota', 'Corolla', '27', 'no'  );''')
connectionToDatabase.commit()
cursor.execute('''insert into Vehicles values ('8658201', 'regular', '59644871', '2019', 'Honda', 'Civic', '35', 'no'  );''')
connectionToDatabase.commit()
cursor.execute('''insert into Vehicles values ('0241366', 'diesel', '35888695', '2011', 'Ram', '1500', '17', 'no'  );''')
connectionToDatabase.commit()
cursor.execute('''insert into Vehicles values ('6657411', 'regular', '11487324', '1997', 'Nissan', 'Rogue', '22', 'no'  );''')
connectionToDatabase.commit()
cursor.execute('''insert into Vehicles values ('7765121', 'electric', '86524701', '2016', 'Tesla', 'Model 3', '89', 'yes'  );''')
connectionToDatabase.commit()

In [0]:
cursor.execute('''insert into GasStations values ('Sheetz', '0001', 'regular', '7000', '2.79'  );''')
connectionToDatabase.commit()
cursor.execute('''insert into GasStations values ('Exxon', '0002', 'regular', '8500', '2.89'  );''')
connectionToDatabase.commit()
cursor.execute('''insert into GasStations values ('Sunoco', '0003', 'diesel', '5000', '3.99'  );''')
connectionToDatabase.commit()
cursor.execute('''insert into GasStations values ('Giant Gasoline', '0004', 'regular', '12500', '2.79'  );''')
connectionToDatabase.commit()
cursor.execute('''insert into GasStations values ('Tesla Stop', '0005', 'electric', '9000', '0.79'  );''')
connectionToDatabase.commit()

![alt text](https://i.imgur.com/xidA9Bx.png)

Our group has to change our ER Diagram. We realized that the fifth database, "Fuel", didn't fit in well. We decided to add the 'Price' to Gas Stations. We also decided that each gas station will only sell one type of fuel, even though this is an unrealistic expectation of the real world.

----

What is the average fuel efficiency per fuel type? 

This question is important to us because it gives us a baseline of the manufacture advertised MPG per fuel type. We can then use this information to track the user's MPG and compare the two pieces of information and track the deviation from the manufacture advertised MPG as the price of gasoline fluctuates. The results match up with our expectations because we made the data that way.

In [0]:
cursor.execute('''select GasType, AVG(FuelEfficiency) from Vehicles GROUP BY GasType''')
for row in cursor.fetchall():
  print (row)

('diesel', 17.0)
('electric', 89.0)
('regular', 28.0)

How many miles were driven by our users per week? 

This question is important because it gives us a piece of data that can be used for future exploitation. For example, we could fulfill our company's ultimate goal and provide a level of relationship between international gas prices and US driving habits and whether there is a positive or negative relationship. The results don't show much information in themselves but if the database was run in the real-world with thousands of users and for hundreds of weeks, we could further interpret the results.

In [0]:
cursor.execute('''select WeekNumber, SUM(MilesDriven) from TravelInformation''')
for row in cursor.fetchall():
  print (row)

('1', 898)

Is there a relationship between the age of our users and whether or not they own a hybrid vehicle? 

This question won't be answered but the data may suggest a relationship exists. This question is important to us because it is a piece of data that our company could sell. Our potential customers would be marketing teams at vehicle manufacturing companies so they could adjust their advertising towards the goal demographics. The results were not what we were expecting. Our expectations were that hybrid owners would be younger than non-hybrid owners.

In [0]:
cursor.execute('''select AVG(o.Age), v.HybridStatus from Owners o LEFT JOIN Vehicles v ON v.DLNumber=o.DLNumber GROUP BY v.HybridStatus''')
for row in cursor.fetchall():
  print (row)

(25.25, 'no')
(45.0, 'yes')